body {
  height: 1024px;
}
html {
  min-height: 100%;
}
#top-div {
  min-height: 100px;

}
#hidden-div {
  padding-bottom: 10%;
}

#grad {
  background-image: linear-gradient(to bottom right, rgb(241,193,64), white);
}
#welcoming-logo {
  padding-left: 15px;
  padding-top: 15px;
  height: 215px;
  width: 470px;
}
#page-title {
  font-family: 'Bad Script', cursive;
}



.mainDiff{
  width:100%;
  height:fit-content;
  background:yellow;
}
