<!--The content below is only a placeholder and can be replaced.-->
<head>
  <!-- importing custom font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script">
</head>

<body>
<div *ngIf = "!loggedIn" id="hidden-div">

  <img id="welcoming-logo" src="assets/images/LMI_V_BLUE_RGB.png"  alt="landing-image">

</div>

<div id="title-div">

  <h1 id="page-title"> Welcome to {{ title }}!</h1>
  <!-- needs output event to say login success-->

  <div *ngIf = "!loggedIn">
    <app-home-login (loginAttempted)=login($event)
                    (uname)=logUsername($event)
                    (isAdmin)=checkAdmin($event)
    >

    </app-home-login>
  </div>

  <div *ngIf = "(loggedIn && !displayEvents)">
    <!-- here we display everything for the user, we can display additional components if AdminLoggedIn( -->


    <app-home-event-display
      [uname]="username"
      (displayAllEvents)=tryDisplayEvents($event)>  </app-home-event-display>


  </div>
  <div *ngIf = "displayEvents">
    displaying events temp holder for previous events component
  </div>
  <div *ngIf = "loggedIn">
    <!-- here we display everything for the user, we can display additional components if AdminLoggedIn( -->
    <app-home-event-display (showEventSignUpForm)=iWantToGoMethod($event)></app-home-event-display>
  </div>

  <div *ngIf = "iWantToGo">
    <app-event-signup (cancelSignUpForm)=cancelSignUpForm($event)></app-event-signup>
  </div>

  <div>
    <app-home-footer
      [displayAdminTools]="isAdmin"
      [uname]="username" ></app-home-footer>

  </div>
  <div *ngIf = "!loggedIn" id="hidden-div-bottom">

  </div>

</div>
</body>

