<html>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" xmlns="">

  <label>
    N-Number:
    <input class="login-boxes" type="text" placeholder="N..." formControlName="username" required>
  <br>
  <label>
    Password:
    <input class="login-boxes" type="password" placeholder="********" formControlName="password" required>
  </label>
  <br>
  <button id="login-button" type="submit" [disabled]="!loginForm.valid">Login</button>
  <span *ngIf="(loginFailed==true)">
   Login Failed. Please retry.
  </span>
  </label>
</form>
</html>
