<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div *ngIf = "displayAdminTools">
  <button type="button"(click)=unlockAdmin() >Admin Settings</button>
  <div *ngIf = "displaySettings">
    <button type="button"(click)=showCreateEvent() >Create Event</button>
    <button type="button"(click)=showEditCurrentEvent() >Edit Current Event</button>
    <button type="button"(click)=showExportEventAttendance() >Export Event Attendence</button>
    <div *ngIf = "createEvent">
    <app-admin-event-create></app-admin-event-create>
    </div>
    <div *ngIf = "editEvent">
    <app-admin-event-edit></app-admin-event-edit>
    </div>
    <div *ngIf = "eventAttendance">
    <app-admin-event-attendance></app-admin-event-attendance>
    </div>
  </div>
<!-- display admin tool components -->
</div>

<!-- Social Footer, Colour Matching Icons -->
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- // -->
<div class="container">
  <hr>
  <div class="text-center center-block">
    <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
    <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  </div>
  <hr>
</div>


