<br>
<div *ngIf="!this.eventSignUp.confirmation && !this.showSignUp">
  <button class="button" (click)="clickIWantToGo()">I want to go</button>
</div>

<div *ngIf=this.showSignUp>
  <form [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()">

    <span class="fa fa-times-circle" (click)="clearSelected()"></span>
    <div>
      <label for="isGoingToEvent">Do you wish to attend the event?</label>
      <input type="checkbox" id="isGoingToEvent" formControlName="isGoingToEvent"
             [(ngModel)]="eventSignUp.isGoingToEvent">
    </div>

    <div *ngIf=this.eventSignUp.isGoingToEvent>
      <label for="isMember">Are you a member of the Social Club?</label>
      <input type="checkbox" id="isMember" formControlName="isMember" [(ngModel)]="eventSignUp.isMember">
    </div>

    <div *ngIf=this.eventSignUp.isGoingToEvent>
      <label for="isBringingGuest">Are you bringing a guest?</label>
      <input type="checkbox" id="isBringingGuest" formControlName="isBringingGuest"
             [(ngModel)]="eventSignUp.isBringingGuest">
    </div>

    <div *ngIf="this.eventSignUp.isBringingGuest">
      <label for="guestName">What is your guest's name?</label>
      <input id="guestName" formControlName="guestName" placeholder="Guest Name" [(ngModel)]="eventSignUp.guestName">
    </div>

    <button type="submit" [disabled]="!signUpForm.valid">Submit</button>

  </form>
</div>

<div *ngIf=this.eventSignUp.confirmation>
  <p>You are going to {{eventToDisplay.title}}</p>
  <button *ngIf=!this.showSignUp class="button" (click)="clickIWantToGo()">Edit response</button>
</div>


