@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

#fullForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text] {
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #0A9A2B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  margin: 5px;
}

