<form [formGroup]="eventEditForm" (ngSubmit)="updateEvent()">
 <span *ngIf="(!eventEdited==true)">
  <fieldset>
    <label>Event Title:</label>
    <input type="text" formControlName="title">
  </fieldset>
  <fieldset>
    <label>Locale:</label>
    <input size="30" type="text" formControlName="locale">
  </fieldset>
  <fieldset>
    <label>Date:</label>
    <input size="30" type="date" formControlName="date">
  </fieldset>
  <fieldset>
    <label>Guest fee:</label>
    <input type="number" formControlName="guestFee">
  </fieldset>
  <fieldset>
    <input type="submit" [disabled]="!eventEditForm.valid" value="Update Event"/>
  </fieldset>
 </span>
  <span *ngIf="(eventEdited==true)">
    Event edited!
  </span>
</form>
